<div layout="row" layout-wrap>
    <div flex="100">
        <div class="main-container md-whiteframe-1dp">
            <md-toolbar class="md-warn">
                <div class="md-toolbar-tools">
                    <md-button ng-click="changeRoute('/')" class="md-icon-button" aria-label="Back">
                        <i class="material-icons">arrow_back</i>
                    </md-button>
                    <md-button ng-click="refresh()">
                        <i class="material-icons">refresh</i>
                    </md-button>
                    <h2 class="md-flex">Giantbomb Cast</h2>
                </div>
            </md-toolbar>
            <md-content layout="column">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="item in podcastItems">
                        <md-button ng-click="changeUrl(item)"><i class="material-icons">playlist_play</i></md-button>
                        <div class="md-list-item-text">
                            <h3>{{item.title}}</h3>
                            <p>{{item.description}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>