<div layout="row" layout-wrap>
    <div flex="100">
        <div class="main-container">
            <md-toolbar class="md-warn">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Podcast View</h2>
                    <span flex></span>
                    <md-button ng-click="showAddDialog()" aria-label="Add">
                        <md-tooltip>
                            Add Podcast
                        </md-tooltip>
                        <i class="material-icons">add_box</i>
                    </md-button>
                </div>
            </md-toolbar>



            <md-grid-list
                    md-cols-sm="1" md-cols-md="3" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="2:2"
                    md-gutter="12px" md-gutter-gt-sm="8px" >
                <md-grid-tile ink-ripple class="red tile-animate" ng-repeat="item in podcastList track by $index" ng-style="{'background-image': 'url({{item.thumbnail}})'}" ng-click="loadPodcast(item)">
                    <md-grid-tile-footer>
                        <h3>{{ item.title }}</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</div>
